extends layouts/main

block content 
    .form-container 
        form(method="post")
            input(type="text", placeholder="Title", name="title", required=true, value=video.title)
            textarea(placeholder="Description", name="description", required=true, maxlength=100)=video.description
            input(type="text", placeholder="Hashtags, seperated by Comma", name="hashtags", value=video.hashtags.join())
            input(type="submit", value="Update Video")