extends layouts/main
include mixins/videoBlock

block content 
    .album.py-5
        .container
            .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3 
                each item in videos 
                    +videoBlock(item)
                else 
                    li Sorry nothing found.