extends layouts/main
include mixins/videoBlock

block content 
    .videos 
        each item in videos 
            +videoBlock({
                id: item.id,
                title: item.title,
                views: item.meta.views,
                videoFile: item.fileUrl,
                createdAt: item.createdAt,
                description: item.description
            })
        else 
            li Sorry nothing found.