mixin avatarImg(chk, url)
    if chk || url.slice(0,4) === "http"
        img.rounded-circle(src=url, width="32", height="32")
    else 
        img.rounded-circle(src=`/${url}`, width="32", height="32")