#videoContainer {
  width: 90%;
  align-items: center;
  justify-content: center;
  align-items: center;
}

#videoControlWidth {
  width: 90%;
  height: 27px;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#videoControls {
  position: absolute;
  display: flex;
  background-color: #535c68;
  padding: 5px 20px;
  border-radius: 10000px;
  align-items: center;
  animation: disappear 0.5s ease-in-out forwards;
  &.mouseOn {
    animation: appear 0.5s ease-in-out forwards;
  }
}

.video__info {
  margin: 20px 50px;
  .hashtag {
    color: #3498db;
  }
  .metaData {
    color: #7f8c8d;
  }
  .video__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  button {
    margin-right: 5px;
  }
}

#volume {
  width: 50px;
}

@keyframes disappear {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin-left: 50px;
  .submitBtn {
    margin-bottom: 15px;
  }
  .video__comment-form {
    textarea {
      background-color: $bg;
      color: white;
    }
  }
  .video__comment {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: $bg;
    color: white;
    margin-bottom: 10px;
    word-break: break-all;
    .commentOwnerInfo {
      font-size: 13px;
    }
    textarea {
      background-color: $bg;
      color: white;
    }
  }
  span {
    white-space: pre-line;
  }
}
