extends layouts/main

block content 
    .form-container 
        form(method="post")
            div.row.g-3
                div.col-12 
                    label.form-label(for="oldPassword") Current Password
                    input.form-control(id="oldPassword", type="password", name="oldPassword", placeholder="Current Password", required)
                div.col-12 
                    label.form-label(for="newPassword") New Password
                    input.form-control(id="newPassword", type="password", name="newPassword", placeholder="New Password", required)
                div.col-12 
                    label.form-label(for="newPassword1") Verify New Password
                    input.form-control(id="newPassword1", type="password", name="newPassword1", placeholder="Verify New Password", required)
                input.btn.btn-secondary(type="submit", value="Submit")
