extends layouts/main

block content 
    div.form-container 
        form(method="post")
            div.row.g-3
                div.col-12
                    label.form-label(for="nickName") NickName
                    div.input-group
                        span.input-group-text#nickChk #
                        input.form-control#nickName(type="text", name="nickName", placeholder="NickName", required)

                div.col-12
                    label.form-label(for="email") Email
                    div.input-group
                        span.input-group-text#emailChk #
                        input.form-control#email(type="email", name="email", placeholder="xxx@example.com", required)

                div.col-12
                    label.form-label(for="name") Name
                    input.form-control(type="text", name="name", placeholder="Full Name", required)

                div.col-sm-6
                    label.form-label(for="password") Password
                    input.form-control(type="password", name="password", placeholder="Password", required)
                
                div.col-sm-6
                    label.form-label(for="password2") Verify Password
                    input.form-control(type="password", name="password2", placeholder="Verify Password", required)

                div.col-12
                    label.form-label(for="location") Location
                    input.form-control(type="text", name="location", placeholder="Location")

                input.btn.btn-secondary(type="submit", value="Join")

        include partials/socialLogin

block scripts 
    script(src="/static/js/chkOverlap.js")