extends layouts/main

block content 
    .form-container 
        form(method="post")
            input(type="text", name="nickName", placeholder="NickName", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type="submit", value="Log In")
        div 
            span Don't have an account?
            a(href="/join") Create one now &rarr;
        include partials/socialLogin