extends layouts/main
include mixins/videoBlock

block content 
    h3.search__header(style="margin-left:16px;")  Searching for: #{term}

    .album.py-5
        .container
            .row.row-cols-1.row-cols-sm-2.row-cols-md-4.g-3 
                if videos.length === 0
                    h5 No Videos Found
                each item in videos.reverse()
                    +videoBlock(item)