extends layouts/main

block content 
    div 
        video#preview
        button#startBtn Start Recording
    .form-container 
        if errorMessage
            span=errorMessage
        form(method="post", enctype="multipart/form-data")
            label(for="upload") Video File
            input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(placeholder="Description", name="description", required=true, maxlength=100)
            input(type="text", placeholder="Hashtags, seperated by Comma", name="hashtags")
            input(type="submit", value="Upload Video")

block scripts 
    script(src="/static/js/recorder.js")