.social-login 
    button.btn.btn-light.col-sm-6(onclick='location.href="/users/github/start"') 
        span
            i.fab.fa-github
        |Continue with Github
    button.btn.btn-light.col-sm-6(onclick='location.href="/users/github/start"') 
        span
            i.fab.fa-github
        |Continue with Github