include ../mixins/message

doctype html
html(lang="ko")
    head
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/css/styles.css") 
        title #{pageTitle} | #{siteName}
    body 
        if messages.error 
            +message("error", messages.error)
        if messages.info 
            +message("error", messages.info)
        if messages.success 
            +message("success", messages.success)
        include ../partials/header
        main 
            block content
        include ../partials/footer
    script(src="/static/js/main.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
    block scripts